h1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px
}
main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
button:active {
  background-color: #004b9a;
}
button:focus {
  outline: none;
}
button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: #6c757d;
}
button:disabled:active {
  background-color: #6c757d;
}
button:disabled:focus {
  outline: none;
}
